.Ball {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
    border: 2px solid orangered;
    margin: 10px;
}

.Ball-number {
    display: flex;
    justify-content: center;
    text-align: center;
    color: orangered;
    margin: 12px auto;
    font-weight: 700;
}